@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/airsrteam-webfont.svg");
    src: url("fonts/airsrteam-webfont.woff");
} 
 
:root{
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 18vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.3);
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(8, 144, 185);
    margin: 0pt; 



    /* align-items: center; */
}
header{
    background-color: darkblue;
    text-align: center;
}
footer{
    background-color: darkblue;
   
}

.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-top: 2.5vh;
}
.thumbnails-item+.thumbnails-item{
    margin-top: 2vh;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display:block
} 
.details-title {
    background-color: cornsilk;
    position: relative;
    left: 3vw;
    bottom: 2vw;
    font-family: airstream;
}
.details-image {
    width: 90vw;
    height: 60vw;
    border-radius: 25%;
}
.details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-title-height);
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 1px solid blue;
    max-width: var(--thumbnails-image-width);
    /* min-width: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height)); */
    border-radius: 25%;
    overflow: hidden;
}
.thumbnails-anchor {
    text-decoration: none;
}
.logo-title {
    background-color: fuchsia;
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
   text-transform: uppercase;
   margin: 0;
   font-family: lakeshor;
}
body, html {
    height: 100%
}
@media (min-width: 568px){
    :root{
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.25);
        
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: 70vh;
        justify-content: flex-start;
        padding: 0;
       
    }
    .thumbnails-title {
       
        font-size: 10rem;
        justify-content: space-around;
        width: 150px;

        
    }
    .thumbnails-item {
        
        margin-left:0;
        min-height: calc(var(--thumbnails-image-height));
        overflow:hidden;
        margin-top: 0;
       
    }
    
    .details-image {
        width: 60vw;
        height: 43vw;
    }
    .details-title {
        left: -4vw;
        bottom: 2vw
        
    }
    .main-content {
        display: flex;
         justify-content: space-around; 
        
        
    }
    .details-container {
        justify-content: center;
        
    }
    body {
       
        justify-content: space-between;
        margin: 0;
    }
    .logo-title {
        margin: 0;
        font-size: 1.5rem;
        
    }

    @media (min-with: 900px) { 
        
    
        :root{
            --thumbnails-image-width: 14vw;
            --thumbnails-image-height: 11vw;
            --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.3);
            
        }
        .thumbnails-list {
            flex-direction: column;
            flex-wrap: nowrap;
            order: -1;
            max-height: 70vh;
            justify-content: flex-start;
            padding: 0;
           
        }
        .thumbnails-title {
           
            font-size: 9rem;
            justify-content: space-around;
            width: 120px;
    
            
        }
        .thumbnails-item {
            
            margin-left:0;
            min-height: calc(var(--thumbnails-image-height));
            overflow:clip;
            margin-top: 0;
           
        }
        
        .details-image {
            width: 60vw;
            height: 43vw;
        }
        .details-title {
            left: -4vw;
            bottom: 2vw
            
        }
        .main-content {
            display: flex;
             justify-content: space-around; 
            
            
        }
        .details-container {
            justify-content: center;
            
        }
        body {
           
            justify-content: space-between;
            margin: 0;
        }
        .logo-title {
            margin: 0;
            font-size: 1.5rem;
             
        }
        .footer-title{
            color: bisque;
        }
    }
}